{% extends 'layouts/template.html'%}
{% block title %}Đăng nhập{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Đăng Nhập</h2>
    {% include 'layouts/notification.html' %}
    <form method="POST" action="{{ url_for('login.login') }}">
        <div class="form-group">
            <input type="text" name="username" placeholder="Tên đăng nhập/ email">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Mật khẩu">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" name="remember"> Ghi nhớ đăng nhập ?
        </div>
        <button type="submit" class="btn btn-primary">Dang nhap</button>
    </form>
</div>
{% endblock %}